#include "winres.h"
#include "resource.h"

IDD_WIZARD DIALOGEX 0, 0, 500, 420
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "RadioBot Configuration"
FONT 8, "MS Shell Dlg", 0, 0, 0x1
BEGIN
    LTEXT           "Create a starter ircbot.conf or import an existing one.",IDC_STATIC,10,8,480,8

    GROUPBOX        "IRC Settings",IDC_STATIC,10,20,480,110
    LTEXT           "Bot nickname:",IDC_STATIC,20,35,70,8
    EDITTEXT        IDC_NICK,95,33,120,12,ES_AUTOHSCROLL
    LTEXT           "IRC server:",IDC_STATIC,20,55,70,8
    EDITTEXT        IDC_IRC_HOST,95,53,180,12,ES_AUTOHSCROLL
    LTEXT           "IRC port:",IDC_STATIC,20,75,70,8
    EDITTEXT        IDC_IRC_PORT,95,73,50,12,ES_NUMBER | ES_AUTOHSCROLL
    CONTROL         "Use SSL",IDC_IRC_SSL,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,160,75,60,10
    LTEXT           "Channel:",IDC_STATIC,20,95,70,8
    EDITTEXT        IDC_IRC_CHAN,95,93,180,12,ES_AUTOHSCROLL

    GROUPBOX        "Sound Server Settings",IDC_STATIC,10,135,480,210
    LTEXT           "Server type:",IDC_STATIC,20,150,70,8
    COMBOBOX        IDC_SC_TYPE,95,148,120,80,CBS_DROPDOWNLIST | WS_TABSTOP
    LTEXT           "Hostname:",IDC_STATIC,20,170,70,8
    EDITTEXT        IDC_SC_HOST,95,168,180,12,ES_AUTOHSCROLL
    LTEXT           "Port:",IDC_STATIC,20,190,70,8
    EDITTEXT        IDC_SC_PORT,95,188,50,12,ES_NUMBER | ES_AUTOHSCROLL
    LTEXT           "Username:",IDC_STATIC,20,210,70,8
    EDITTEXT        IDC_SC_USER,95,208,120,12,ES_AUTOHSCROLL
    LTEXT           "Password:",IDC_STATIC,20,230,70,8
    EDITTEXT        IDC_SC_PASS,95,228,120,12,ES_PASSWORD | ES_AUTOHSCROLL
    LTEXT           "Mountpoint:",IDC_STATIC,20,250,70,8
    EDITTEXT        IDC_SC_MOUNT,95,248,120,12,ES_AUTOHSCROLL
    LTEXT           "Stream ID:",IDC_STATIC,20,270,70,8
    EDITTEXT        IDC_SC_STREAMID,95,268,50,12,ES_NUMBER | ES_AUTOHSCROLL

    PUSHBUTTON      "&Import existing ircbot.conf",IDC_IMPORT,10,380,110,14
    DEFPUSHBUTTON   "OK",IDOK,330,380,70,14
    PUSHBUTTON      "Cancel",IDCANCEL,410,380,70,14
END
